@media screen and (min-width: 768px){

body{
    padding: 0;
    background-color: #dfe3ee;
}
#header{
    position: relative;
    top: 0;
    background-color: black;;
    height: 8em;
    overflow: visible;
        
}
.menu-button{
    display: none;
}
.item-navbar{
    position: relative;
    left: 0;
    top: 0.7em;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;   
    color: white;
    display: inline-block;
    text-decoration: none;
  }
  .ul-header{
    padding-left: 0;
    margin: 0;    
    width: 100%;
  }
  .logo{
    position: relative;
    top: 1.5em;
    left: 3em;
    transform: scale(3); 
  }
  .first-img{
    border-style: none;
    border-width: 0px;
      
  }
}
