.img-web-design{
    width: 100%;

}

.topPartWeb{
    display: flex;
    justify-content: center;
    color: #3b5998;
    font-family: fantasy;
    font-weight: bolder;
    font-size: 2em;
}

.about-text{
    margin-right: 3em;
    margin-left: 3em;
}
@media screen and (min-width: 786px){
    body{
        background-image: url(img/black-1072366_1920.jpg);

    }

}
